<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- インターネット権限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 端末起動時にブロードキャストを受け取る -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- サーバー側は常に受付するのでサービスで実装する -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 9以前はMediaStoreでフォルダが作れないのでJavaのFileクラスを使う -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- 他のアプリが作った画像にアクセスしたいので -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Wi-Fi接続コールバックを受けるため -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoTransfer"
        android:usesCleartextTraffic="true">

        <service
            android:name=".service.PhoTransferService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.StartQuickSettingTileService"
            android:exported="true"
            android:icon="@drawable/photransfer_icon"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.SystemBootCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PhoTransfer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/transfer">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>